* {
    margin: 0;
}
body, canvas, div , a{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    text-decoration: none;
}
a:link,a:visited,a:hover,a:active {
}
.container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}
.begin {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.part {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}